body {
		background-color: rgba(255, 255, 255, 0);
        background-repeat: repeat-y;
		position: absolute;
		font-family: 'Patrick Hand SC',"comic sans ms";
		font-size: 25;
		color: rgba(207, 233, 18, 0.89);	
		text-shadow: 1px 1px 2px rgb(0,0,0);
}
a{
    font-family: 'Patrick Hand SC','Molle', cursive;	
	
    font-size: 63;
	
    text-shadow: 5px 5px 5px rgba(9, 3, 24, 0.47);
    color: rgb(240, 106, 55);
	text-decoration: none;
    padding: 40;
    position: relative;
    top: 10;
    padding-left: 0;
}
#header{
	position: fixed;
	height: 250;
	width: 500;
	z-index: -1;
	padding-left: 20;
}
#bg{
	position:fixed;
	left: 0;
	top: 0;
	height: 45%;
	width: 100%;
	z-index: -1;
}
#list{
	position: fixed;
	top: 231;
	list-style-type: none;
	font-size: 15;
	z-index: -1;
	color: rgb(153, 172, 51);
	text-shadow: 1px 1px 2px;
}
#category{
	position: absolute;
	top: 521;
	left: 601;
}
#cat1{
    position: absolute;
    left: 100;
	
    top: 26;
    height: 64;
	width: 107;
	background-image: url("note.jpg");
	
    padding-left: 26;
	padding-bottom: 22;
	background-size: 100% 100%;
	cursor: pointer;
}
#cat2{
    position: absolute;
    left: 450;
	
    top: 26;
    height: 64;
	width: 107;
	background-image: url("note.jpg");
	padding-left: 29;
	padding-bottom: 22;
	background-size: 100% 100%;
    padding-right: 8;
    cursor: pointer;
}
#cat3{
	position: absolute;
	left: 800;
    height: 64;
	top: 26;
	width: 107;
	background-image: url("note.jpg");
	padding-left: 20;
	padding-bottom: 22;
	padding-right: 11;
	background-size: 100% 100%;
	cursor: pointer;
}
#cat4{
	position: absolute;
	left: 1150;
    height: 64;
	top: 26;
	width: 107;
	background-image: url("note.jpg");
	padding-left: 29;
	padding-bottom: 22;
	background-size: 100% 100%;
	cursor: pointer;
}
#cat1:hover,
#cat2:hover,
#cat3:hover,
#cat4:hover{
	text-shadow: 2px 2px 5px rgb(0,0,0);
}
img{
	z-index: -2;
	left: 200;
}
h2{
	position: absolute;
	top: 20;
}
.content{
	position: fixed;
	background-color: rgba(250, 210, 2,0.6);
	width: 100%;
	height: 40%;
	top: 345;
	left: 0;
	overflow: auto;
	padding-left: 80;
	padding-top: 20;
	padding-bottom: 40;
	font-size: 27;
	color: rgb(238, 154, 27);
	text-shadow: 1px 1px 1px rgb(92, 71, 7);
	box-shadow: 0px -3px 36px rgb(131, 88, 12);
}
.do_button,
.done{
	border: none;
	background-color: transparent;
	color: rgb(214, 144, 20);
	padding-left: 20;
	padding-bottom: 0;
	cursor: pointer;
}
.do_button:hover,
.done:hover{
	font-size: 14px;
}
#logout,
.addtask{
	border: none;
	padding: 7;
	font-size: 20;
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	box-shadow: 0.5px 0.5px 15px #888;
	color: rgb(245, 246, 247);
	cursor: pointer;	
}
#logout:hover,
.addtask:hover{
	padding: 10;
}
.strike{
	text-decoration: line-through;
}
input[type=text]{
	background-color: transparent;
	border-width: 1px;
	border-style: dotted;
	border-color: rgb(185, 134, 42);
	color: rgb(214, 144, 20);
}
input[value="Add task"]{
	color: rgb(214, 144, 20);
}
